"use strict";

const {Datastore} = require("@google-cloud/datastore");

const projectId = "YOUR-PROJECT-ID-HERE";

exports.Datastore = Datastore;
exports.datastore = new Datastore({projectId:projectId});

// Per: https://cloud.google.com/datastore/docs/concepts/limits, Datastore
// lookup queries will return a max of 1000 results, so we have to query
// multiple times to get a count for an entity kind if that kind has more than 
// 1000 members. 
exports.LOOKUP_LIMIT = 1000;


// References Google Datastore How-To: 
// https://cloud.google.com/appengine/docs/standard/nodejs/using-cloud-datastore

// NOTE-- If getting permissions error on localhost when attempting to access
// the datastore, try signing in again and resetting the gcloud project at the 
// command line:
//	(1)	gcloud auth application-default login
// 	(2)	gcloud config set project ehamilton-budgetapi